Technical specification inspirations

A few reading sources for inspiration:

* IETF specifications
  * [RFC 791 - Internet Protocol](https://tools.ietf.org/html/rfc791)
  * [RFC 2818 - HTTP over TLS](https://tools.ietf.org/html/rfc2818)
  * [RFC 5246 - The Transport Layer Security Protocol](https://tools.ietf.org/html/rfc5246)
* Cryptography
  * [Noise Protocol Specification](http://www.noiseprotocol.org/noise.pdf)
* Blockchains
  * [Zcash Protocol Specification](https://github.com/zcash/zips/blob/master/protocol/protocol.pdf)



┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1201757896515792/1201763115514642) by [Unito](https://www.unito.io)


Closing in favour of https://github.com/heliaxdev/spec/issues/40.